* {
  padding: 0;
  margin: 0;
}

body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  min-height: 100vh;
  background-color: #FFFFE8;
}

.App {
  text-align: center;
  padding: 20px;

  @media (max-width:395px) {}

  ::-webkit-scrollbar {
    height: 3px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.21);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #0045a5;
  }
}


header {
  color: #EBCE95;

  h1 {
    @media (max-width:490px) {
      max-width: 300px;
      margin: 0 auto;
    }
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0045a5;
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;

    input[type=text] {
      height: 40px;
      font-size: 20px;
      padding: 0 52px 0 15px;
      color: #0045a5;
      border: 2px solid #b08839;
      border-radius: 10px;
      transition: all 0.1s ease-in-out;
      overflow: auto;
    }

    input[type=text]:focus {
      // outline: 2px solid #EBCE95;
      outline: none;
      border-color: #f5ba45;
    }

    .add-svg {
      position: absolute;
      top: 6px;
      right: 52px;
    }

    .add-svg:hover {
      color: #745b28;
    }

    @media (max-width:490px) {

      width: 300px;
      margin: 0 auto;
      margin-top: 20px;

      input[type=text] {
        height: 40px;
        padding: 0 52px 0 15px;
      }

      .add-svg {
        top: 6px;
        right: 15px;
      }
    }

    @media (max-width:395px) {

      width: 250px;
      margin: 0 auto;
      margin-top: 20px;

      input[type=text] {
        height: 40px;
        padding: 0 52px 0 15px;
      }

      .add-svg {
        top: 6px;
        right: 15px;
      }
    }

  }
}

.tasks-header {

  max-width: 600px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;

  @media (max-width:395px) {
    p {
      font-size: 14px;
    }
  }

  svg {
    cursor: auto;
  }
  
  svg:active path {
    transform: none;
  }

}

.tasks-container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.clear-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.clear-text {
  font-size: 12px;
  opacity: 0.4;
}

.clear-text.disable:hover {
  cursor: not-allowed;
  opacity: 0.4;
}

.clear-text:hover {
  opacity: 1;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;

  li {
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 0.16fr 2fr 0.16fr;
    background-color: #ffe4e4;
    font-weight: 600;
    color: #0045a5;
    align-items: center;

    p {
      padding-bottom: 2px;
      overflow: auto;
    }

    &.completed {
      background-color: #CDE990;

      p {

        background-color: #CDE990;
        text-decoration: underline;
        text-underline-offset: -37%;
        text-decoration-skip-ink: none;

      }
    }
  }
}

svg {
  cursor: pointer;
}

svg path {
  transition: all ease-in-out 0.3s;
}

.check-svg:hover path {
  color: rgb(0, 190, 0);
}

svg:active path {
  transform: scale(0.9);
}

.remove-svg:hover path {
  color: red;
}

.remove-svg {
  justify-self: self-end;
}